---
# maintains ports, bianry or repo urls

org: encapsulate
domain_regex: ^([a-zA-Z0-9-]+\.)+[a-zA-Z]{2,}$
monitor_server_dns: h1-finland-hub-monitor.crane-goldeye.ts.net
ansible_port: 8192

architecture_map:
  x86_64: amd64
  aarch64: arm64

default_node_types:
  - validator
  - default

tmp_dir: /tmp

go:
  root: /usr/local/go
  path: "{{ tmp_dir }}/go"
  module111: "on"

nvm:
  path: /opt/nvm

ethereum:
  nethermind:
    source_url: https://github.com/NethermindEth/nethermind/releases/download
    ports:
      engine: 8551
      network_discovery: 30303
      p2p: 30303
      json_rpc: 8545
      metrics: 6060
  geth:
    source_url: https://gethstore.blob.core.windows.net/builds
    ports:
      auth_rpc: 8551
      p2p: 30303
      network_discovery: 30303
      http: 8545
      metrics: 6060
      websocket: 8546
  lighthouse:
    source_url: https://github.com/sigp/lighthouse/releases/download
    ports:
      p2p: 9000
      quic: 9001
      http: 5052
      metrics: 8008
  prysm:
    source_url: https://github.com/prysmaticlabs/prysm/releases/download
    ports:
      http: 5052
      p2p_tcp: 13000
      p2p_udp: 12000
      metrics: 8008
      quic: 13000
      rpc: 4000
  mevboost:
    source_url: https://github.com/flashbots/mev-boost/releases/download
    ports:
      listen_port: 18550
      metrics_port: 18551

ssv:
  node:
    source_url: https://github.com/ssvlabs/ssv
    ports:
      metrics: 15000
      api: 16000
      p2p_tcp: 13001
      p2p_udp: 12001
  dkg:
    source_url: https://github.com/ssvlabs/ssv-dkg
    ports:
      dkg_port: 3030

obol:
  charon:
    source_url: https://github.com/ObolNetwork/charon
    ports:
      p2p: 3610
      api: 3600
      metrics: 3620
  ejector:
    source_url: https://github.com/lidofinance/validator-ejector
    ports:
      http: 8989
  dv_exit:
    source_url: https://github.com/ObolNetwork/lido-dv-exit
  lodestar:
    source_url: https://github.com/ChainSafe/lodestar/releases/download
    ports:
      metrics: 5064

alloy:
  service_identifier_suffix: alloy
  source_url: https://github.com/grafana/alloy/releases/download
  file_extension: zip
  ports:
    http_listen_port: 9086

prometheus:
  service_identifier_suffix: prometheus
  source_url: https://github.com/prometheus/prometheus/releases/download
  file_extension: tar.gz
  ports:
    web_listen_address: 9090
