GETH_MAINNET=true
GETH_DATADIR={{ geth_data_dir }}
GETH_SYNCMODE=full
GETH_METRICS=true
GETH_METRICS_ADDR=0.0.0.0
GETH_HTTP=true
GETH_HTTP_ADDR=127.0.0.1
GETH_HTTP_PORT={{ ethereum.geth.ports.http }}
GETH_PORT={{ ethereum.geth.ports.p2p }}
GETH_DISCOVERY_PORT={{ ethereum.geth.ports.network_discovery }}
GETH_METRICS_PORT={{ ethereum.geth.ports.metrics }}
GETH_AUTHRPC_PORT={{ ethereum.geth.ports.auth_rpc }}
GETH_AUTHRPC_JWTSECRET={{ geth_jwt_secret_path }}
