[Unit]
Description= Obol Lodestar Service

[Service]
Type=simple
User={{ service_identifier }}
Group={{ service_identifier }}
WorkingDirectory={{ obol_lodestar_bin_dir }}
ExecStart={{ obol_lodestar_bin_dir }}/{{ service_identifier }} validator \
    --dataDir {{ obol_lodestar_data_dir }} \
    --keystoresDir {{ obol_lodestar_key_dir }} \
    --secretsDir {{ obol_lodestar_key_dir }} \
    --network="mainnet" \
    --metrics=true \
    --metrics.address="0.0.0.0" \
    --metrics.port={{ obol.lodestar.ports.metrics }} \
    --beaconNodes="http://localhost:{{ obol.charon.ports.api }}" \
    --builder="true" \
    --builder.selection="builderalways" \
    --distributed
Restart=always
RestartSec=4
LimitNOFILE=65536
MemoryMax=64G
StandardOutput=append:{{ obol_lodestar_log_file_path }}
StandardError=inherit

[Install]
WantedBy=multi-user.target
