---
geth_ufw_rules:
  - port: "{{ ethereum.geth.ports.p2p }}"
    proto: tcp
    rule: allow
    from: any
    comment: geth_p2p_port

  - port: "{{ ethereum.geth.ports.p2p }}"
    proto: udp
    rule: allow
    from: any
    comment: geth_p2p_port

  - port: "{{ ethereum.geth.ports.metrics }}"
    proto: tcp
    rule: allow
    from: "{{ monitor_server_dns }}"
    comment: geth_metrics_port

  - port: "{{ ethereum.geth.ports.websocket }}"
    proto: tcp
    rule: allow
    from: "manta.node.ssv.mainnet.encapsulate.xyz"
    comment: geth_websocket_port

  - port: "{{ ethereum.geth.ports.websocket }}"
    proto: tcp
    rule: allow
    from: "arid.node.ssv.mainnet.encapsulate.xyz"
    comment: geth_websocket_port

  - port: "{{ ethereum.geth.ports.http }}"
    proto: tcp
    rule: allow
    from: "zephyr.charon.obol.mainnet.encapsulate.xyz"
    comment: geth_http_port

  - port: "{{ ethereum.geth.ports.http }}"
    proto: tcp
    rule: allow
    from: "ts.orchestrator.gravity.mainnet.encapsulate.xyz"
    comment: geth_http_port

  - port: "{{ ethereum.geth.ports.http }}"
    proto: tcp
    rule: allow
    from: "139.84.156.198"
    comment: geth_http_port
