---
- name: Set project and suffix variables
  ansible.builtin.set_fact:
    project: "{{ group_names[0] }}"
    client_suffix: "{{ '-' + client if client is defined else '' }}"
    cluster_suffix: "{{ '-' + cluster if cluster is defined else '' }}"
    type_suffix: "{{ '' if type in default_node_types else '-' + (type | replace('_', '-')) }}"
    network_prefix: "{{ '' if network is not defined or network == 'mainnet' else network + '-' }}"

- name: Set service identifier and service group in facts
  ansible.builtin.set_fact:
    service_identifier: "{{ network_prefix }}{{ group_names[0] }}{{ type_suffix }}{{ client_suffix }}{{ cluster_suffix }}"
    service_group: "{{ group_names[0] }}{{ cluster_suffix }}"

- name: Set architecture variable based on system architecture
  ansible.builtin.set_fact:
    system_architecture: "{{ architecture_map[ansible_architecture] | default(ansible_architecture) }}"

- name: Display environment being deployed to
  ansible.builtin.debug:
    msg:
      - "Deploying to Host: {{ inventory_hostname }}"
      - "Groups: {{ group_names }}"
      - "Project: {{ project }}"
      - "Environment: {{ env }}"
      - "Type: {{ type }}"
      - "Client: {{ (client) if client is defined else project }}"
      - "Version: {{ (vars[project][client].version) if client is defined else vars[project][type].version }}"
      - "Username: {{ service_identifier }}"
      - "Group: {{ service_group }}"
      - "Service Name: {{ service_identifier }}"
      - "Operating System: {{ ansible_system | lower }}"
      - "System Architecture: {{ system_architecture }}"

- name: Confirm deployment details
  ansible.builtin.pause:
    seconds: 40

- name: Please confirm again
  ansible.builtin.debug:
    msg:
      - "Deploying to Host: {{ inventory_hostname }}"
      - "Project: {{ project }}"
      - "Environment: {{ env }}"
      - "Type: {{ type }}"

- name: Confirm deployment details
  ansible.builtin.pause:
    seconds: 20

- name: Include configure ufw task
  ansible.builtin.include_tasks: tasks/configure_ufw.yml

- name: Remove existing Go directories (if any)
  ansible.builtin.file:
    path: "{{ item }}"
    state: absent
  become: true
  loop:
    - "{{ go.root }}"
    - "{{ go.path }}"
