[Unit]
Description= Prysm

[Service]
Type=simple
User={{ service_identifier }}
Group={{ service_identifier }}
WorkingDirectory={{ prysm_home_dir }}
ExecStart={{ prysm_bin_dir }}/{{ service_identifier }} \
  --mainnet \
  --datadir={{ prysm_data_dir }} \
  --http-host 0.0.0.0 \
  --http-port {{ ethereum.prysm.ports.http }} \
  --rpc-port {{ ethereum.prysm.ports.rpc }} \
  --p2p-tcp-port {{ ethereum.prysm.ports.p2p_tcp }} \
  --p2p-udp-port {{ ethereum.prysm.ports.p2p_udp }} \
  --p2p-quic-port {{ ethereum.prysm.ports.quic }} \
  --p2p-max-peers 80 \
  --monitoring-host 0.0.0.0 \
  --monitoring-port {{ ethereum.prysm.ports.metrics }}  \
  --checkpoint-sync-url=https://beaconstate.info \
  --execution-endpoint=http://localhost:{{ ethereum.geth.ports.auth_rpc }} \
  --jwt-secret={{ prysm_jwt_secret_path }} \
  --accept-terms-of-use=true \
  --http-mev-relay=http://127.0.0.1:{{ ethereum.mevboost.ports.listen_port }}
Restart=always
RestartSec=4
LimitNOFILE=65536
MemoryMax=64G
StandardOutput=append:{{ prysm_log_file_path }}
StandardError=inherit

[Install]
WantedBy=multi-user.target
