[Unit]
Description= obol Charon Service

[Service]
Type=simple
User={{ service_identifier }}
Group={{ service_identifier }}
WorkingDirectory={{ obol_charon_home_dir }}
ExecStart={{ obol_charon_bin_dir }}/{{ service_identifier }} run \
  --private-key-file {{ obol_charon_private_key_file_path }} \
  --simnet-validator-keys-dir {{ obol_charon_key_dir }} \
  --lock-file {{ obol_charon_lock_file_path }} \
  --manifest-file {{ obol_charon_manifest_file_path }} \
  --beacon-node-endpoints http://localhost:{{ ethereum.prysm.ports.grpc }} \
  --beacon-node-submit-timeout 4s \
  --beacon-node-timeout 3s \
  --p2p-relays {{ obol.charon.p2p_relays }} \
  --p2p-external-hostname {{ ansible_host }} \
  --p2p-tcp-address 0.0.0.0:{{ obol.charon.ports.p2p }}  \
  --validator-api-address 0.0.0.0:{{ obol.charon.ports.api }} \
  --monitoring-address 0.0.0.0:{{ obol.charon.ports.metrics }} \
  --builder-api true \
  --feature-set-enable eager_double_linear,consensus_participate \
  # --loki-addresses http://loki:3100/loki/api/v1/push \
  # --loki-service charon \
  --nickname {{ org }}
Restart=always
RestartSec=4
LimitNOFILE=65536
MemoryMax=64G
StandardOutput=append:{{ obol_charon_log_file_path }}
StandardError=inherit

[Install]
WantedBy=multi-user.target
