LIDODVEXIT_BEACON_NODE_URL={{ vault.mainnet.obol.zephyr.consensus_client_url }}
# obol-dv-exit reads the obol-charon key directory.
# It should also have cluster lock file, enr key and validator_keys in the same directory
LIDODVEXIT_CHARON_RUNTIME_DIR={{ charon_run_time_dir }}
# Obol-dv-exit writes data to this directory which is read by obol-ejector
LIDODVEXIT_EJECTOR_EXIT_PATH={{ obol_dv_exit_data_dir }}
LIDODVEXIT_EXIT_EPOCH=256
LIDODVEXIT_VALIDATOR_QUERY_CHUNK_SIZE=5
