operatorID: 924
port: {{ ssv.dkg.ports.dkg_port }}
privKey: ./key/{{ ssv_dkg_private_key_file_name }}
privKeyPassword: ./key/{{ ssv_dkg_password_file_name }}
logLevel: info
logFormat: json
logLevelFormat: capitalColor
outputPath: ./data/output
logFilePath: ./log/{{ service_identifier }}.log
serverTLSCertPath: ./cert/{{ ssv_dkg_tls_cert_name }}
serverTLSKeyPath: ./cert/{{ ssv_dkg_tls_key_name }}
ethEndpointURL: {{ vault.mainnet.ssv.arid.http_execution_client_url }}
