[Unit]
Description={{ service_identifier }}

[Service]
Type=oneshot
User=root
WorkingDirectory={{ obol_lodestar_monitor_home_dir }}
ExecStart=/bin/bash -c '{{ obol_lodestar_monitor_script_file_path }} 2>/dev/null'
LimitNOFILE=65536
MemoryMax=64G
StandardOutput=append:{{ obol_lodestar_monitor_log_file_path }}
StandardError=inherit

[Install]
WantedBy=multi-user.target
