[Unit]
Description= obol Charon Service

[Service]
Type=simple
User={{ service_identifier }}
Group={{ service_identifier }}
WorkingDirectory={{ obol_charon_home_dir }}
EnvironmentFile={{ obol_charon_environment_general_file_path }}
ExecStart={{ obol_charon_bin_dir }}/{{ service_identifier }} run
Restart=always
RestartSec=4
LimitNOFILE=65536
MemoryMax=64G
StandardOutput=append:{{ obol_charon_log_file_path }}
StandardError=inherit

[Install]
WantedBy=multi-user.target
