CHARON_BEACON_NODE_ENDPOINTS={{ vault.mainnet.obol.zephyr.consensus_client_url }}
CHARON_FALLBACK_BEACON_NODE_ENDPOINTS={{ vault.mainnet.obol.zephyr.fallback.consensus_client_url }}
CHARON_BEACON_NODE_TIMEOUT=3s
CHARON_BEACON_NODE_SUBMIT_TIMEOUT=4s
CHARON_P2P_RELAYS="https://0.relay.obol.tech,https://1.relay.obol.tech/,https://charon-relay.dsrvlabs.dev/,https://obol-relay.infstones.com/,https://relay-2.prod-relay.721.land/"
CHARON_P2P_EXTERNAL_HOSTNAME={{ ansible_host }}
CHARON_P2P_TCP_ADDRESS=0.0.0.0:{{ obol.charon.ports.p2p }}
CHARON_VALIDATOR_API_ADDRESS=0.0.0.0:{{ obol.charon.ports.api }}
CHARON_MONITORING_ADDRESS=0.0.0.0:{{ obol.charon.ports.metrics }}
CHARON_BUILDER_API=true
CHARON_FEATURE_SET_ENABLE=eager_double_linear,consensus_participate
CHARON_NICKNAME={{ org }}
CHARON_SIMNET_VALIDATOR_KEYS_DIR={{ obol_charon_validator_keys_dir }}
CHARON_LOCK_FILE={{ obol_charon_lock_file_path }}
CHARON_PRIVATE_KEY_FILE={{ obol_charon_private_key_file_path }}
CHARON_FEATURE_SET_ENABLE=fetch_only_commidx_0,proposal_timeout
